n8n/workflow-2-report-generation.json
{
    "name": "Approval - Report Generation & Email Principal",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload-approved",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-approval",
            "name": "Webhook_Upload_Approved",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                400
            ],
            "webhookId": "upload-approved"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "upload_id",
                            "value": "={{ $json.body.upload_id }}"
                        },
                        {
                            "name": "school_name",
                            "value": "={{ $json.body.school_name }}"
                        },
                        {
                            "name": "principal_email",
                            "value": "={{ $json.body.principal_email }}"
                        },
                        {
                            "name": "pdf_name",
                            "value": "={{ $json.body.pdf_name }}"
                        },
                        {
                            "name": "pdf_url",
                            "value": "={{ $json.body.pdf_url }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "extract-data",
            "name": "Extract_Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                400,
                400
            ]
        },
        {
            "parameters": {
                "url": "={{ $('Extract_Data').item.json.pdf_url }}",
                "responseFormat": "file",
                "options": {
                    "fileName": "={{ $('Extract_Data').item.json.pdf_name }}"
                }
            },
            "id": "download-pdf",
            "name": "Download_PDF",
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 5000,
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                600,
                400
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "to": "={{ $('Extract_Data').item.json.principal_email }}",
                "subject": "📊 Student Performance Report - {{ $('Extract_Data').item.json.school_name }}",
                "htmlMessage": " <!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; background: #f4f4f4; margin: 0; padding: 0; }\n    .container { max-width: 700px; margin: 30px auto; background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%); color: white; padding: 40px; text-align: center; }\n    .header h1 { margin: 0; font-size: 28px; }\n    .header p { margin: 10px 0 0 0; opacity: 0.9; }\n    .content { padding: 40px; }\n    .btn-container { text-align: center; margin-top: 30px; }\n    .btn { background: #6366f1; color: white !important; padding: 12px 24px; text-decoration: none; border-radius: 6px; font-weight: bold; display: inline-block; }\n    .footer { background: #f8f9fa; padding: 25px; text-align: center; color: #6c757d; font-size: 14px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📊 Performance Report (PDF)</h1>\n      <p>{{ $('Extract_Data').item.json.school_name }}</p>\n    </div>\n    \n    <div class=\"content\">\n      <p>Dear Principal,</p>\n      <p><strong>The complete Principal's Report Card (including all student data) is attached to this email.</strong></p>\n      <p>Please download the attached PDF to view the detailed performance results.</p>\n      \n      <div class=\"btn-container\">\n        <a href=\"http://localhost:3000/static/report.html?id={{ $('Extract_Data').item.json.upload_id }}\" class=\"btn\">🌐 View Live Digital Report</a>\n      </div>\n\n      <p style=\"margin-top: 30px; color: #6c757d;\">Upload ID: #{{ $('Extract_Data').item.json.upload_id }}</p>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>NSF School Reporting System</strong></p>\n    </div>\n  </div>\n</body>\n</html>",
                "attachmentsUi": {
                    "attachmentsBinary": [
                        {
                            "property": "data"
                        }
                    ]
                }
            },
            "id": "email-principal",
            "name": "Email_Principal",
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 5000,
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                800,
                400
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "2",
                    "name": "Gmail Account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3000/api/complete-upload",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"upload_id\": {{ $('Extract_Data').item.json.upload_id }}\n}",
                "options": {}
            },
            "id": "update-status",
            "name": "Update_Status_to_COMPLETED",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1000,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Email sent to principal\", \"upload_id\": $('Extract_Data').item.json.upload_id } }}"
            },
            "id": "respond-webhook-2",
            "name": "Respond_to_Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1200,
                400
            ]
        }
    ],
    "connections": {
        "Webhook_Upload_Approved": {
            "main": [
                [
                    {
                        "node": "Extract_Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract_Data": {
            "main": [
                [
                    {
                        "node": "Download_PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download_PDF": {
            "main": [
                [
                    {
                        "node": "Email_Principal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email_Principal": {
            "main": [
                [
                    {
                        "node": "Update_Status_to_COMPLETED",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update_Status_to_COMPLETED": {
            "main": [
                [
                    {
                        "node": "Respond_to_Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {},
    "versionId": "1",
    "id": "workflow-report-generation",
    "meta": {
        "instanceId": "n8n-instance"
    },
    "tags": []
}